<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>База знаний</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <header style="height: 4vw; font-size: 3vw; text-align: left;">
        Статьи
    </header>

<main>
    <h2>Избранные статьи</h2>
    <div>
        <ul>
            {% for title, article_id in favorites %}
                <li><a href="/lab5/articles/{{ article_id }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
</main>
<br>
<footer style="position: relative; top: 12vw;">
    <a style="top: 0.1vw;" class="menu_bt" href="/menu" target="_self">Меню</a> База знаний 
</footer>

</body>
</html>