<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Юшков В.Д.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <heder>
        WEB-программирование, часть 2.
    </heder>

<div>
    <img src="{{url_for('static', filename='flow_1.jpg')}}"  width=300px, height=300px>

    <h1 style="font-size: large;">Букет номер 1</h1>
    
</div>
<div>
    <img src="{{url_for('static', filename='flow_2.jpg')}}" width=300px, height=300px>

    <h1 style="font-size: large;">Букет номер 2 - "Романтик"</h1>
</div>
<div>
    <img src="{{url_for('static', filename='flow_3.jpg')}}" width=300px, height=300px>

    <h1 style="font-size: large;">Букет номер 3</h1>

    
</div>
<div>
    <img src="{{url_for('static', filename='flow_4.jpg')}}" width=300px, height=300px>

    <h1 style="font-size: large;">Букет номер 4</h1>

</div>
<div>
     
    <img src="{{url_for('static', filename='flow_5.jpg')}}" width=300px, height=300px>

    <h1 style="font-size: large;">Букет номер 5</h1>

</div>

    <footer>
        &copy Юшков В.Д. лабораторная 2 ФБИ-11, 3 курс, 2023
    </footer>
</body>
</html>