{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Формы</h1>
    <div>Тема лабораторной - Формы. Список сделанных страниц:</div>
    <ol>
        <li><a style="text-decoration: none; color: white;" href="/lab3/form1">Форма</a></li>
        <li><a style="text-decoration: none; color: white;" href="/lab3/order">Заказ</a></li>
        <li><a style="text-decoration: none; color: white;" href="/lab3/train_order">Билет</a></li>
    </ol>
{% endblock %}