{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>

    <form action="/lab3/pay">
        <div class="label">Напиток:</div>
        <label style="margin-right: 10px;">
            <input type="radio" value="coffe" name="drink" checked>Кофе — 120 ₽
        </label>
        <label style="margin-right: 10px;">
            <input type="radio" value="black tea" name="drink">Чёрный чай — 80 ₽
        </label>
        <label style="margin-right: 10px;">
            <input type="radio" value="green tea" name="drink">Зеленый чай — 70 ₽
        </label>

         <div class="label" style="margin-top: 12px;">Добавки:</div>
         <label style="margin-right: 10px;">
            <input type="checkbox" name="milk">Молоко — 30 ₽
         </label>
         <label style="margin-right: 10px;">
            <input type="checkbox" name="sugar">Сахар — 10 ₽
         </label>
         
         <div class="label" style="margin-top: 24px;">
            <button type="submit">Заказать</button>
         </div>
    </form>
{% endblock %}