{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    {% if user and age and exit_point and destination and date %} 

        <h1>Ваш билет оплачен, удачного пути!</h1>
        <div>ФИО: {{user}}</div>
        <div>Тип билета:
            {% if ticket_type == 'adult' %}
                Взрослый
            {% else %}
                Детский
            {% endif %}
        </div>
        <div>Полка: 
            {% if shelf_type == 'lower' %}
                Нижняя
            {% elif shelf_type == 'lower_side' %}
                Нижняя боковая
            {% elif shelf_type == 'upper_side' %}
                Верхняя боковая
            {% else %}
                Верхняя
            {% endif %}
        </div>
        <div>Багаж:
            {% if baggage == 'Yes' %}
                Да
            {% else %}
                Нет
            {% endif %}
        </div>
        <div>Возраст: {{age}}</div>
        <div>Пункт выезда: {{exit_point}}</div>
        <div>Пункт назначения: {{destination}}</div>
        <div>Дата поездки: {{date}}</div>

    {% else %}
   
        <form>
            <div>Ваше ФИО:</div>
            <div>
                <input type="text" placeholder="ФИО" name="user" value="{{user or ''}}">
                <span class="error" style="color: red;">{{errors.user}}</span>
            </div>
            <div>Ваш возраст:</div>
            <div>
                <input type ="number" name="age" value="{{age or ''}}" min="18" max="120">
                <span class="error" style="color: red;">{{errors.age}}</span>
            </div>
            <div>Тип билета:</div>
            <label>
                <input type="radio" value="adult" name="ticket_type" checked>Взрослый
            </label>
            <label>
                <input type="radio" value="child" name="ticket_type">Детский
            </label>

            <div>Полка:</div>
            <label>
                <input type="radio" value="lower" name="shelf_type" checked>Нижняя
            </label>
            <label>
                <input type="radio" value="upper" name="shelf_type">Верхняя
            </label>
            <label>
                <input type="radio" value="upper_side" name="shelf_type">Верхняя боковая
            </label>
            <label>
                <input type="radio" value="lower_side" name="shelf_type">Нижняя боковая
            </label>

            <div>У вас есть багаж?</div>
            <label>
                <input type="radio" value="Yes" name="baggage" checked>Да
            </label>
            <label>
                <input type="radio" value="No" name="baggage">Нет
            </label>

            <div>Пункт выезда:</div>
            <div>
                <input type="text" placeholder="Пункт выезда" name="exit_point" value="{{exit_point or ''}}">
                <span class="error" style="color: red;">{{errors.exit_point}}</span>
            </div>

            <div>Пункт назначения:</div>
            <div>
                <input type="text" placeholder="Пункт назначения" name="destination" value="{{destination or ''}}">
                <span class="error" style="color: red;">{{errors.destination}}</span>
            </div>

            <div>Дата поездки:</div>
            <div>
                <input type="date" placeholder="Дата поездки" name="date" value="{{date or ''}}">
                <span class="error" style="color: red;">{{errors.date}}</span>
            </div>

            <div><button type="submit">Отправить</button></div>

        </form>
    {% endif %}
{% endblock %}